@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Welcome !</h1>    
    <a asp-area="Tiers" asp-controller="Liste" asp-action="Index">Liste des tiers</a>
</div>
