@using Audeeble_Shared.Models.Tiers
@model ViewListeTiersCriteresModel

<!-- Start .filter-box -->
<div class="filter-box filter-box-radius filter-box-shadow" id="filter-box-liste-tiers">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <label asp-for="RaisonSociale"></label>
                <input asp-for="RaisonSociale" class="form-control form-control-sm" />
            </div>
            <div class="col-2">
                <label asp-for="Nom"></label>
                <input asp-for="Nom" class="form-control form-control-sm" />
            </div>
            <div class="col-2">
                <label asp-for="Prenom"></label>
                <input asp-for="Prenom" class="form-control form-control-sm" />
            </div>
            <div class="col-3">
                <div class="form-check">
                    <input asp-for="InclureArchive" />
                    <label asp-for="InclureArchive"></label>
                </div>
                <div class="form-check">
                    <input asp-for="InclurePersPhysique" />
                    <label asp-for="InclurePersPhysique"></label>
                </div>
                <div class="form-check">
                    <input asp-for="InclurePersMorale" />
                    <label asp-for="InclurePersMorale"></label>
                </div>
            </div>
            <div class="col-2 text-right">
                <button type="button"
                        class="btn btn-sm btn-primary"
                        onclick="ListeTiers_SearchBtnClick()">
                    <i class="fas fa-search icon-left"></i>Rechercher
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End .filter-box -->