@charset 'UTF-8';

/**
 * Fichier:       audeeble.scss
 * Description:
 * Version:       1.0
 * Copyright:     2019
 * Auteur:        xavier.villemin at gmail.com
 **/


//
// Surcharge des variables Bootstrap
//

// $body-bg:                       #f8fafc;
// $body-color:                    #495057;

//
// Import de Bootstrap
//

@import "../lib/bootstrap/scss/bootstrap.scss";

//
// Variables personnalisées
//



//
// Imports
//

@import "_containers.scss";
@import "_buttons.scss";
@import "_filters.scss";
@import "_forms.scss";
@import "_tables.scss";